@charset "UTF-8";
/* ========================================

  CSS Information

  File name:   flexibleSearch.css
  Summary:     
  Created:     2010--
  Last update: 2010-- by Tomohiro Okuwaki
  Author:      Tomohiro Okuwaki
  Copyright:   
  Note:        

======================================== */

/* ----------------------------------------
   __汎用クラス
---------------------------------------- */
.fs-hidden {
    display: none;
}